/* sixe */

.sizecharts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(206, 200, 200);
    border-radius: 50%;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin: 0px 8px;
}

.sizecharts:hover {
    border: 1px solid rgb(211, 30, 30);
    color: rgb(211, 30, 30);
}


/* Details */
/* 
.details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 4px;
}

.coupon h5 i {
    font-size: 20px;
}

.payment {
    width: 60%;
    height: 90%;
    border: 2px solid gray;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgb(168, 166, 166);
}

.mrp {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.mrp .p {
    color: #e40046;
}

.paydetails {
    padding: 6px;
}

.paydetails h5 {
    border-bottom: 1px solid #e40046;
    padding: 4px;
}

.Final {
    display: flex;
    justify-content: space-between;
    padding: 4px;

}

.Final .p {
    color: #e40046;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e40046;
    padding: 12px 0;
}

.order .bt {
    width: 90%;
    background-color: #e40046;
    color: #ffffff;
    border-radius: 6px;
    padding: 7px 12px;
    margin-right: 30px;
    border: 2px solid #ffffff;
    transition: .3s;
}

.order .bt:hover {
    border: 2px solid #e40046;
    box-shadow: 4px 4px 8px rgb(201, 200, 200);
    color: #fff;
} */


/* payments page style */

.payment {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupon {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
}

.coupon p {
    font-size: 18px;
}

.paydetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 40%;
}

.mrp {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.Final {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.order {
    display: flex;
}

/* payments page style end*/

/* EmptyCart style*/

.empty {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

/* EmptyCart style end*/


/* -----------------------------Address pages----------------------------------- */


@media screen and (max-width: 768px) {
    .address-form {
        max-width: 100%;
    }

    input {
        margin-bottom: 15px;
    }
}





/* Responsive style */

@media (max-width: 720px) {
    .payment {
        width: 100%;
    }

    .empty-cart {
        width: 340px;
        height: 400px;
    }

    .text-empty {
        display: flex;
        align-items: center;
    }

    .coupon p {
        font-size: 14px;
    }

    .mrp p {
        font-size: 12px;
    }

    .Final p {
        font-size: 12px;
    }

}



.model-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #e40046;
    width: 450px;
    height: 300px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zoom-in-out-box {
    margin: 24px;
    width: 50px;
    height: 50px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

.all-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}