.header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 60px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  background-color: rgb(255, 255, 255);
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.logo-container {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 45px;
  height: 45px;
}

.nav-options {
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.mobile-option {
  display: none;
}

.option {
  width: 25%;
}

.option-one {
  width: 65%;
  display: flex;
  align-items: center;
}

.option-two {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  align-items: center;
}

.option :hover {
  color: white;
}

.signin-up {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  list-style-type: none;
}

.sign-in {
  padding-right: 50px;
  align-self: center;
}

.sign-in :hover {
  color: white;
}

.mobile-menu {
  display: none;
}

.input {
  /* padding: 0 12px; */
  height: 43px;
  /* font-size: 18px; */
  color: red;
  width: 70%;
  outline: none;
  border: none;
  /* border-bottom: 2px solid gray; */
  /* background-color: aliceblue; */
  border: 1px solid red;
  margin-top: 8px;
}

.p {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #9899d1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0px;
  left: 80px;
}

.set-cart {
  width: 120px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 2px solid aliceblue;
  border-radius: 7px;
  transition: 0.5s;
  font-size: 18px;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.set-cart1 {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid aliceblue;
  border-radius: 7px;
  transition: 0.5s;
  font-size: 18px;
  position: relative;
  background-color: white;
}

.set-cart1 .p {
  position: absolute;
  top: 0px;
  left: 60px;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  border: 2px solid white;

}

.logowidth {
  width: 200px;
}

.option-three {
  display: flex;
}

.option-three ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-three ul li {
  padding: 0 28px;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}

.option-three ul a {
  text-decoration: none;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.setuser-data img {
  width: 50px;
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .logo-container {
    width: 25%;
  }

  .logowidth {
    width: 140px;
  }

  .header {
    padding: 0px 20px;
    justify-content: space-between;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vw;
    padding: 15px 0px;
  }

  .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 34px;
  }

  .option-one {
    width: 100%;
    justify-content: center;
  }

  .input {
    margin-top: 15px;
  }

  .option-two {
    width: 100%;
    justify-content: space-evenly;
  }

  .option {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 12px;
  }

  .option-three {
    height: 50%;
    width: 100%;
  }

  .option-three ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
  }

  .abc {
    border-bottom: none;
  }
}


.abc {
  border-bottom: 3px solid red;
}